
@model IdentityModel
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <address><strong><h2>Veriniz Blockchain üzerine gönderilmiştir</h2></strong></address>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ethereum Hesabı </th>
                    <th>Veri Hash Değeri</th>
                    <th>İşlem Hash Değeri</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Account</td>
                    <td>@Model.Data_hash</td>
                    <td>@Model.Transaction_hash</td>
                </tr>

            </tbody>
        </table>
    </div>
</body></html>
